<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783589739636-t4jbmbbdh1jbhqp0bo9tf2ptidnd77tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783589739636-t4jbmbbdh1jbhqp0bo9tf2ptidnd77tt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783589739636-uh4lulmkmaajflncaeetls6lurdib0av.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjKxOtdVRIQe3DbuL9UUApa5wbIVRTCto</string>
	<key>GCM_SENDER_ID</key>
	<string>783589739636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woyeuser.woyeuser</string>
	<key>PROJECT_ID</key>
	<string>woyewala</string>
	<key>STORAGE_BUCKET</key>
	<string>woyewala.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783589739636:ios:09d6755bfc23ad2053d521</string>
</dict>
</plist>